
body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
  
}

.flex-container {
  display: flex;
  background-color: aliceblue;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.flex-item {
  display: block;
  background-color:azure;
  margin: auto;
  font-size: 30px;
  width: 100%;
  height: 100%;
}

.flex-item img{
  border-style: solid;
  border-width: 5px;
}




#heat-map {
  border-style: solid;
  border-width: 10px;
  width: 90%;
  height: 1000px;

}

#acres-subplot {
  width: 90%;
}