The following instructions will tell you how and where to create a file for storing your db credentials

Create a file in this folder. Name it secrets.json
put the following into secrets.json, replacing information values with your db credentials



{
    "host":"your host",
    "database":"your db",
    "user":"your username",
    "password":"your password"
}